<% layout("/layouts/boilerplate")%>
<link rel="stylesheet" href="/css/index-ejs.css">
<body>
    <div id="filters">
    <div class="filter">
        <i class="fa-solid fa-building"></i>
        <p>Hostels & PGs</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-key"></i>
        <p>Independent Rooms</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-graduation-cap"></i>
        <p>Near Campus</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-book-open-reader"></i>
        <p>Libraries & Study</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-print"></i>
        <p>Xerox & Stationery</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-utensils"></i>
        <p>Mess & Tiffins</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-shirt"></i>
        <p>Laundry & Clean</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-dumbbell"></i>
        <p>Gym & Fitness</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-kit-medical"></i>
        <p>Clinics & Medical</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-bus"></i>
        <p>Bus Stops</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-mug-hot"></i>
        <p>Cafes & Chai</p>
    </div>
</div>

    <div class="row row-cols-xxl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card border-0">
                    <div class="img-container">
                        <img src="<%=listing.image.url %>" class="card-img-top" alt="listing_image">
                        <div class="card-img-overlay"></div>
                    </div>
                    <div class="card-body px-1">
                        <p class="card-text">
                            <span class="listing-title"><b><%= listing.title %></b></span> <br>
                            <span class="listing-price">&#x20B9; <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %></span> 
                            <span class="per-month">/ month</span>
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>